body {
	background-image: url(img/background.jpg);
	background-size: cover;
}

.videos {
	width: 70%;
	padding: 20px;
	margin: 0px auto 60px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.titulo {
	text-align: center;
	color: white;
	text-shadow: 4px 4px rgb(0, 0, 0, 0.7);
}

#video {
	margin: 0 10px;
	width: 300px;
	height: 300px;
	transition: 1s;
}

#video:hover {
	transform: scale(1.7);
}

.container-fluid {
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-caption{
	background-color: rgb(0, 0, 0, 0.6);
}

body .container-fluid #carouselExampleIndicators{
	box-shadow: 25px 25px rgb(0, 0, 0, 0.7);
}